body {
    color: #d5d4d8;
    font-family: "Inter Regular", sans-serif;
    background-color: #d5d4d8;
    margin: 0;
}

.container {
    display: block;
    margin: 1.3rem auto;
    background-color: #1f2937;
    max-width: 31.1rem; 
    padding: 6.5rem 3.3rem 10rem 3.3rem;
}

.line {
    max-width: 31.1rem; 
    border-bottom: 0.13rem solid #273549;
    margin: 0 0 2rem 0; 
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    width: 80%;
    margin: 0 0 0.3rem 0;
}

.highlight {
    color: #10B981;
}

.description {
    margin: 0 0 3.8rem 0;
}

.generator-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.3rem;
    margin: 0 0 1.9rem 0;
}

.length-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem; 
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 0.6rem 1.3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 1rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 10rem;
    padding: 0.1rem 0; 
    border-radius: 0.5rem;
    border: none;
    margin: 0 0 0 0.5rem;
    background-color: #273549;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    background: #10B981;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -0.375rem;
    transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #0e9e6e;
}

.passwords-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.password {
    background-color: #273549;
    color: #55f991;
    width: 13.2rem;
    border-radius: 0.4rem; 
    text-align: center;
    padding: 0.7rem 0;
    cursor: pointer;
    word-break: break-all;
    transition: all 0.3s ease;
}

.password:hover {
    background-color: #10B981;
    color: white;
}
